.grommet .illustration-2 {
  // Setting min-width fixes Firefox svg scale bug.
  width: 470vw;
  min-width: 470vw;
  height: auto;
  max-height: 100vh;
  position: relative;
  margin: 0;
  align-self: flex-end;
  padding-bottom: 10px;

  @include media-query(lap-and-up) {
    padding-bottom: 20px;
    width: 210vw;
    min-width: 210vw;
  }

  img {
    width: 100%;
  }

  svg {
    position: absolute;
    width: 100%;
    align-self: flex-end;

    .st0 {fill: none; stroke: #50C3CC; stroke-width: 4; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 10; stroke-dasharray: 0, 7; }
    .st1 {fill: none; stroke: #00B288; stroke-width: 4; stroke-miterlimit: 10; }
    .st2 {fill: none; stroke: #FFFFFF; stroke-width: 4; stroke-linecap: square; stroke-miterlimit: 10; }
    .st3 {fill: none; stroke: #F69679; stroke-width: 4; stroke-miterlimit: 10; }
    .st4 {fill: none; stroke: #00B48D; stroke-width: 4; stroke-miterlimit: 10; }
    .st5 {fill: none; stroke: #50C3CC; stroke-width: 4; stroke-linecap: round; stroke-linejoin: round; }
    .st6 {fill: none; stroke: #50C3CC; stroke-width: 4; stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 0, 6.7928; }
    .st7 {fill: none; stroke: #50C3CC; stroke-width: 4; stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 0, 7.94; }
    .st8 {fill: none; stroke: #50C3CC; stroke-width: 4; stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 0, 6.8486; }
    .st9 {fill: none; stroke: #50C3CC; stroke-width: 4; stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 0, 7.1334; }
    .st10 {fill: none; stroke: #50C3CC; stroke-width: 4; stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 0, 7.1316; }
    .st11 {fill: #FFFFFF; stroke: #614767; stroke-width: 0.5; stroke-miterlimit: 10; }
    .st12 {fill: #00AF86; }
  

    .line__vertical {
      transform-origin: bottom;
      transform: scaleY(0);
      -ms-transform: scale(0, 0);
      transition: all 0.2s ease-out;
    }

    .line__horizontal {
      transform: scaleX(0);
      -ms-transform: scale(0, 0);
      transition: all 0.2s ease-out;

      &.line__horizontal--right {
        transform-origin: right;
        -ms-transform-origin: right;
      }

      &.line__horizontal--left {
        transform-origin: left;
        -ms-transform-origin: left;
      }
    }

    .main-icon {
      opacity: 0;
      transform: scale(0);
      transform-origin: center;
      transition: all 0.25s ease-out;
    }
  }

  &.building-1--active {
    .lines-1 {
      .line__vertical {
        transform: scaleY(1);
        -ms-transform: scale(1, 1);
      }

      .line__horizontal {
        transform: scaleX(1);
        -ms-transform: scale(1, 1);
      }

      .main-icon {
        opacity: 1;
        transform: scale(1);
        -ms-transform: scale(1, 1);
      }
    }
  }

  &.building-2--active {
    .lines-2 {
      .line__vertical {
        transform: scaleY(1);
        -ms-transform: scale(1, 1);
      }

      .line__horizontal {
        transform: scaleX(1);
        -ms-transform: scale(1, 1);
      }

      .main-icon {
        opacity: 1;
        transform: scale(1);
        -ms-transform: scale(1, 1);
      }
    }
  }

  &.building-3--active {
    .lines-3 {
      .line__vertical {
        transform: scaleY(1);
        -ms-transform: scale(1, 1);
      }

      .line__horizontal {
        transform: scaleX(1);
        -ms-transform: scale(1, 1);
      }

      .main-icon {
        opacity: 1;
        transform: scale(1);
        -ms-transform: scale(1, 1);
      }
    }
  }

  &.illustration-2__line1--active {
    opacity: 0;
  }
}
