@include keyframes(scale-up-horizontal) {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@include keyframes(scale-up-vertical) {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.grommetux-meter--circle svg.grommetux-meter__graphic {
	width: 125px;
	height: 125px;

	.grommetux-meter__tracks,
	.grommetux-meter__slice {
	  stroke-width: 8px;
	}

	.grommetux-meter__values .grommetux-meter__slice {
		stroke: nth($brand-accent-colors, 3);
	}
}

.grommetux-meter {
	.grommetux-meter__value {
		top: 50%;
	}

	.grommetux-meter__value-units {
		display: block;
		margin: 0;
		line-height: 1;
	}
}
